---
export interface Props {
	title: string
	date: string
	excerpt: string
	slug: string
}
const { title, date, excerpt, slug } = Astro.props as Props
---

<article
	class="border border-gray-300 p-4 mb-4 bg-white shadow-md rounded hover:shadow-lg transition"
>
	<a href={`/blog/${slug}`} class="block">
		<div class="text-sm text-gray-600 font-bold mb-2">{date}</div>
		<h2 class="text-xl mb-2 text-primary font-semibold">{title}</h2>
		<p class="text-gray-700 mt-1">{excerpt}</p>
	</a>
</article>
